<div class="jumbotron">
    <h1 class="display-4">Random Passcode (passcode #@ViewBag.Count)</h1>
</div>
<div id="passcode">
    <h2>@ViewBag.String</h2>
</div>
<a href="generate"><button class="btn btn-primary font-weight-bold m-2">Generate</button></a>
<a href="reset"><button class="btn btn-danger font-weight-bold">Reset Counter</button></a>