@model User
<div class="jumbotron">
    <h1 class="display-4">Form Validation</h1>
</div>
<main>
    <form asp-action="Submit" asp-controller="Form" method="post">
        <table class="table table-borderless">
            <tr>
                <td><label asp-for="FirstName"></label></td>
                <td><input class="form-control" asp-for="FirstName"></td>
            </tr>
            <tr>
                
                <td><label asp-for="LastName"></label></td>
                <td><input class="form-control" asp-for="LastName"></td>
            </tr>
            <tr>
                
                <td><label asp-for="Age"></label></td>
                <td><input class="form-control" asp-for="Age"></td>
            </tr>
            <tr>
                
                <td><label asp-for="Email"></label></td>
                <td><input class="form-control" asp-for="Email"></td>
            </tr>
            <tr>
                
                <td><label asp-for="Password"></label></td>
                <td><input class="form-control" asp-for="Password"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    <div class="errors">
        <span asp-validation-for="FirstName"></span>
        <br>
        <span asp-validation-for="LastName"></span>
        <br>
        <span asp-validation-for="Age"></span>
        <br>
        <span asp-validation-for="Email"></span>
        <br>
        <span asp-validation-for="Password"></span>
    </div>
</main>