<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
    <title>Portfolio | Projects</title>
</head>

<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <h2 class="navbar-brand">Kevin Camp | Full Stack Web Developer</h2>
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/"><h5>Home</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="/projects"><h5>Projects</h5></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="/contact"><h5>Contact</h5></a>
            </li>
        </ul>
    </nav>
    <main>
        <div class="container">
            <h1 class="display-4">Projects</h1>
            <div class="row">
                <div class="col">
                    <img class="project" src="~/img/timeclock.jpg" alt="Enrollment Pic">
                    <a href="http://3.16.165.83/">Employee Points System</a>
                </div>
                <div class="col">
                    <img class="project" src="~/img/enroll.jpg" alt="Enrollment Pic">
                    <a href="http://18.216.122.124/">Class Enrollment</a>
                </div>
                <div class="col">
                    <img class="project" src="~/img/pet_shelter.jpg" alt="Pet Shelter">
                    <a href="https://github.com/KevinMichaelCamp/PetShelter">Pet Shelter</a>
                </div>
            </div>
        </div>
    </main>
</body>

</html>