@model LoginUser

<div class="jumbotron">
    <h1 class="display-4">Login</h1>
</div>
<main>
    <form asp-action="LogUser" asp-controller="Home" method="post">
        <table class="table-borderless">
            <tr>
                <td><label asp-for="Email"></label></td>
                <td><input class="form-control" asp-for="Email"></td>
            </tr>
            <tr>
                <td><label asp-for="Password"></label></td>
                <td><input class="form-control" asp-for="Password"></td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">Login</button>
    </form>
    <br>
    <span asp-validation-for="Email"></span>
    <br>
    <span asp-validation-for="Password"></span>
</main>