<div class="jumbotron">
    <h1 class="display-4">Wedding Planner</h1>
</div>

<div class="row">
    <div class="col border-right">
        <partial name="Register"/>
    </div>
    <div class="col">
        <partial name="Login"/>  
    </div>
</div>