@using LoginRegister.Models
@model RegUser

<div class="jumbotron">
    <h1 class="display-4">Register Success!</h1>
</div>
<h1>First Name: @Model.FirstName</h1>
<h1>Last Name: @Model.LastName</h1>
<h1>Email: @Model.Email</h1>
