@model RegUser

<form asp-action="Register" asp-controller="LoginRegister" method="post">
    <table class="table table-borderless">
        <tr>
            <td><label asp-for="FirstName"></label></td>
            <td><input class="form-control" asp-for="FirstName"></td>
        </tr>
        <tr>
            <td><label asp-for="LastName"></label></td>
            <td><input class="form-control" asp-for="LastName"></td>
        </tr>
        <tr>
            <td><label asp-for="Email"></label></td>
            <td><input class="form-control" asp-for="Email"></td>
        </tr>
        <tr>
            <td><label asp-for="Password"></label></td>
            <td><input class="form-control" asp-for="Password"></td>
        </tr>
        <tr>
            <td><label asp-for="PasswordConfirm"></label></td>
            <td><input class="form-control" asp-for="PasswordConfirm"></td>
        </tr>
    </table>
    <button class="btn btn-primary" type="submit">Register</button>
    <div class="errors">
        <span asp-validation-for="FirstName"></span>
        <br>
        <span asp-validation-for="LastName"></span>
        <br>
        <span asp-validation-for="Email"></span>
        <br>
        <span asp-validation-for="Password"></span>
        <br>
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
</form>