<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand">Dojodachi</a>
    <ul class="navbar-nav">
        <li class="navbar-item">
            <a class="navbar-link text-secondary" href="/">Home</a>
        </li>
    </ul>
</nav>