<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <title>Home Page</title>
</head>
<body>
    <div class="container text-center mx-auto m-5">
        <div class="jumbotron p-2">
            <h1 class="display-4 text-center">Welcome to the Home Page</h1>
        </div>
        <a href="/"><button class="btn btn-primary">Back</button></a>
        <a href="/redirect"><button class="btn btn-primary">Redirect</button></a>
        <a href="/redirect/users"><button class="btn btn-primary">User Info</button></a>
        <a href="/other"><button class="btn btn-primary">Other Controller</button></a>
        <a href="/user1"><button class="btn btn-primary">Json</button></a>
        <p>@ViewBag.Example</p>
    </div>
</body>
</html>